// Define the color palette
$white: #fff;
$black: #000;
$gray-light: #ccc;
$gray-dark: #333;
$primary-blue: #2196f3;

// Mixins for form elements and button styles
@mixin form-element {
  display: block;
  width: calc(100% - 2rem); // Adjusting for padding
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: $black;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid $gray-light;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &:focus {
    border-color: $primary-blue;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba($primary-blue, 0.25);
  }
}

@mixin button-style {
  color: $white;
  background-color: $primary-blue;
  border-color: $primary-blue;
  display: block; // Make the button block-level for easier centering
  width: auto; // Allow the button to shrink to its content size
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
  margin: 1rem 0; // Space above and below the button
  cursor: pointer;

  &:hover {
    background-color: darken($primary-blue, 10%);
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($primary-blue, 0.5);
    outline: 0;
  }
}

// Form container to control the maximum width and centering
.form-container {
  max-width: 600px;
  margin: 0 auto;

  .mb-3 {
    margin-bottom: 1rem;

    label {
      display: block;
      margin-bottom: .5rem;
      color: $gray-dark;
    }

    select {
      @include form-element;
      -webkit-appearance: none; // Remove default styling for Webkit browsers
      -moz-appearance: none;    // Remove default styling for Firefox
      appearance: none;         // Remove default styling for modern browsers
    }

    input[type='date'] {
      @include form-element;
      margin-bottom: 1rem; // Space between the date inputs and the button
    }
  }

  button {
    @include button-style;
    text-align: center;
  }
}

// Responsive adjustments for smaller screens
@media (max-width: 768px) {
  .form-container {
    width: 90%; // adjust the form container width on smaller screens

    .mb-3, input[type='date'], button {
      width: calc(100% - 2rem); // adjust the width of elements within the form container
    }
  }
}
