<div>
    <h1>Editar datos</h1>
    <form *ngIf="serverForm" [formGroup]="serverForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre">
        </div>
        <div class="mb-3">
            <label for="direccionIP" class="form-label">Direccion IP</label>
            <input type="text" class="form-control" id="direccionIP" formControlName="direccionIP">
        </div>
        <div class="mb-3">
            <label for="SO" class="form-label">Sistema operativo</label>
            <input type="text" class="form-control" id="SO" formControlName="SO">
        </div>
        <div class="mb-3">
            <label for="motorBase" class="form-label">Motor de base</label>
            <input type="text" class="form-control" id="motorBase" formControlName="motorBase">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Guardar datos</button>
        </div>
    </form>
</div>
