<h1>Lista de servidores</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Direccion IP</th>
        <th scope="col">Sistema Operativo</th>
        <th scope="col">Motor de base</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let server of servidor">
        <td>{{server.nombre}}</td>
        <td>{{server.direccionIP}}</td>
        <td>{{server.SO}}</td>
        <td>{{server.motorBase}}</td>
        <td><button class="btn btn-success" (click)="editServer(server.id)">Editar</button> | <button class="btn btn-danger" (click)="deleteServer(servidor.id)">Eliminar</button></td>
      </tr>
    </tbody>
</table>
<button class="btn btn-info" (click)="createServer()">Agregar servidor</button>
