<h1>Lista de base de datos</h1>
<input type="text" placeholder="Servidor" [(ngModel)]="servidorFilter" (input)="applyFilters()">
<input type="text" placeholder="Nombre" [(ngModel)]="nombreFilter" (input)="applyFilters()">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Transacciones por día</th>
        <th scope="col">Transacciones por mes</th>
        <th scope="col">Servidor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let database of databases">
        <td>{{database.nombre}}</td>
        <td>{{database.transaccionesDia}}</td>
        <td>{{database.transaccionesMes}}</td>
        <td>{{database.server_name}}</td>
        <td><button class="btn btn-success" (click)="editDatabase(database.id)">Editar</button> | <button class="btn btn-danger" (click)="deleteDatabase(database.id)">Eliminar</button></td>
      </tr>
    </tbody>
</table>
<button class="btn btn-info" (click)="createDatabase()">Agregar base de datos</button>
