<mat-toolbar *ngIf="showNavbar">
    
    <a>Gestion de reportes</a>

    <span class="spacer"></span>

    <a mat-button routerLink="list/server">Servidores</a>
    <a mat-button routerLink="list/componente">Componentes</a>
    <a mat-button routerLink="list/database">Bases de datos</a>
    <a mat-button routerLink="list/metrica">Metricas</a>
    <a mat-button routerLink="consulta/usoCPU">Consulta</a>
    <a mat-button routerLink="list/user">Usuarios</a>
    <a mat-button routerLink="">Logout</a>

</mat-toolbar>
